h1 {
    font-family: "Comic Sans MS", serif;
    color: brown;
}

.animals {
    background-color: blueviolet;
}

.product-img-small {
    max-width: 100%;
    max-height: available;
}

.product-listitem-medium button {
}

.product-listitem-medium p {
    overflow-wrap: break-word;
}

.products-browser {
    display: inline-block;
    column-count: 4;
    margin: 8vh 2vw 2vw;

}

.product-listitem-medium {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    max-width: 100%;

}

.product-listitem-medium-container {
    padding: 2%;
    max-width: 100%;
    display: inline-block;
}

.page-content-container {
    margin-left: 5%;
    margin-right: 5%;
}


.top-nav {
    z-index: 3;
    background: darkred;
    padding: 1%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.top-nav a {
    color: white;
    border: white 2px ridge;
    max-width: fit-content;
    font-size: 2.1vh;
}

.cart {
    background: rgba(122, 110, 110, 0.6);
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    min-width: 20vw;
    border-left: black 3px solid;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-cost {
    font-weight: bold;
    text-decoration: underline;
    text-align: end;
    padding-right: 1%;
}

.current-order-container {
    margin-top: 10vh;
}

.current-order {
    font-weight: bold;
    text-align: end;
    list-style: none;
    line-height: 3em;
    padding-right: 1%;
}



.add-to-cart-button {
    border-radius: 5px;
    background: darkgreen;
    color: white;
    margin-right: 15%;
    margin-left: 15%;
}

.buy-button-container {
    border-top: 2px black dotted;
    margin: 5%;
    padding-top: 10%;
    min-height: 100%;
}
.current-order ul li{
    width: max-content;
    text-align: end;
}
.buy-button {
    border-radius: 5px;
    background: darkgreen;
    color: white;
    font-size: 150%;
    width: 100%;

}
.remove-cartItem-button{
    background: rgba(52, 0, 3, 0);
   margin:0.3em;
    border: none;
    font-weight: bolder;
}