h1 {
    font-family: "Comic Sans MS";
    color: brown;
}

.animals {
    background-color: blueviolet;
}
.product-img-small{
    max-width: 10vw;
}
.product-listitem-medium{
display:inline-block;
    text-align: left;
}
.products-browser{
    margin: 2vw;
}
.page-content-container{
    margin-left: 10vw;
    margin-right: 10vw;
}