<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anställda</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/custom.css">
</head>
<body class="text-center">
    <h1>Anställda på Lenas Zoo!</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Namn</th>
            <th>Rollbeskrivning</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.role}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{index}">Tillbaka till Startsidan</a>

</body>
</html>