<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Startsida</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script rel="script" type="text/javascript" src="/webjars/jquery/3.1.1/jquery.js"></script>
    <script rel="script" type="text/javascript" src="/javascript/custom.js"></script>
</head>
<body class="text-center">

<div class="top-nav">
    <a class="btn btn-outline-primary" th:href="@{index}">Handla</a>
    <a class="btn btn-outline-primary" th:href="@{myPages}">Mina Sidor</a>
    <a class="btn btn-outline-primary" th:href="@{shoppingHistory}">Köphistorik</a>
    <a class="btn btn-outline-primary" th:href="@{contact}">Kontakt</a>
    <a class="btn btn-outline-primary login" href="#contact">Logga ut</a>
    <a class="btn btn-outline-primary cart" href="#cart"><i class="fa fa-shopping-cart"></i></a>
</div>
<div class="page-content-container" id="index">
    <div class="products-browser">

    </div>
</div>
</body>
</html>