<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Besökare</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/custom.css">
</head>
<body class="text-center">

    <h1>Besökare i parken!</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Namn</th>
            <th>Ålder</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visitor : ${visitors}">
            <td th:text="${visitor.name}"></td>
            <td th:text="${visitor.age}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{index}">Tillbaka till Startsidan</a>

</body>
</html>