<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mina Sidor</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/custom.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="text-center">
<div class="container">
    <a class="btn btn-outline-primary" th:href="@{index}">Handla</a>
    <a class="btn btn-outline-primary" th:href="@{myPages}">Mina Sidor</a>
    <a class="btn btn-outline-primary" th:href="@{shoppingHistory}">Köphistorik</a>
    <a class="btn btn-outline-primary" th:href="@{contact}">Kontakt</a>
    <a class="btn btn-outline-primary login" href="#contact">Logga ut</a>
    <a class="btn btn-outline-primary cart" href="#cart"><i class="fa fa-shopping-cart"></i></a>
</div>
    <h1>Besökare i parken!</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Namn</th>
            <th>Ålder</th>
        </tr>
        </thead>
        <tbody>

        </tr>
        </tbody>
    </table>
    <a th:href="@{index}">Tillbaka till Startsidan</a>

</body>
</html>